[Unit]
Description=DevOpsFetch Service
After=network.target

[Service]
ExecStart=/home/ubuntu/devopsfetch/venv/bin/python /home/ubuntu/devopsfetch/devopsfetch.py --continuous --log-file /home/ubuntu/devopsfetch/logs/devopsfetch.log
WorkingDirectory=/home/ubuntu/devopsfetch
User=ubuntu
Group=ubuntu
Restart=always

[Install]
WantedBy=multi-user.target

